@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Source+Sans+3:ital,wght@0,200..900&display=swap");

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans 3', sans-serif;
  text-align: center;
  background-color: #f4f4f9;
  color: #000000;
  padding: 20px;
}

header {
  margin-bottom: 55px;
}

h1 {
  font-size: 50px;
  background-color: #5d886e;  
  margin: auto;
  max-width: 700px;
  border-radius: 5px;
  color: #ffffff;
  margin-bottom: 10px;
}

p {
  font-size: 18px;  
  line-height: 1.5;
  background-color: #71a58686;  
  color: #000000;  
  padding: 25px;
  margin: 35px auto;
  max-width: 800px;  
  border-radius: 5px;  
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 50px;
}

.foto-item {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.foto-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.foto-item:hover img {
  transform: scale(1.05);
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.modal-conteudo {
  position: relative;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 100%;  
  max-width: 1000px;
  height: auto;
  max-height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.fechar {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #5d886e;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.fechar:hover {
  color: #1c3a08;
}

.jux {
  width: 100%;
  height: 100%;
  min-height: 750px;
}

/* TAMANHO MODAL NO CELULAR */
@media (max-width: 768px) {
  .modal-conteudo {
    width: 95%;  
    padding: 15px;  
  }
  
  .jux {
    min-height: 400px;  
  }
}

@media (max-width: 480px) {
  .modal-conteudo {
    width: 100%;  
    padding: 10px;
  }
  
  .jux {
    min-height: 300px;  
  }
}